{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptatem neque, aspernatur ratione ipsa illo est accusamus, porro deserunt ipsum exercitationem vitae quia velit quos? Harum ad id et maxime! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet at, dolorum minima atque reprehenderit nisi unde, laboriosam est error distinctio quas enim sed exercitationem voluptatem, repellendus corrupti iste ipsa. Nemo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, incidunt! Natus ipsa aliquid, tenetur obcaecati explicabo debitis officia quo neque aspernatur ad esse praesentium voluptas? Quis debitis at laudantium assumenda!
    </p>
{% endblock content %}
