{% extends "layout.html" %}
{% block content %}
 <table id="tickets" class="table table-striped table-bordered table-hover" >
    <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
            <th>E-mail</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users.items %}
        <tr id="technician_{{ user.id }}">
            <td>{{ user.name }} {{ user.surname }}</td>
            <td>{{user.role}}</td>
            <td>{{user.email}}</td>
            <td>
              <div id="technician_{{user.id}}_button" class="detail-buttons">
                <button type="button" class="btn btn-danger fas fa-trash-alt" data-toggle="modal" data-target="#deleteTechnicianModal"
                        onclick="configureTechnicianModal({{user.id}})"> </button>
              </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
 </table>
{% if not users.items %}
  <div class="d-flex justify-content-center pt-3"><h2>No technicians to display yet.</h2></div>
{% endif %}   
    {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
      {% if page_num %}
        {% if users.page == page_num %}
          <a class="btn btn-info mb-4">{{page_num}}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.users_list', page=page_num)}}">{{page_num}}</a>
        {% endif %}
      {% else %}
        <span class="align-top">...</span>
        {% endif %}
    {% endfor %}

    <div class="modal fade" id="deleteTechnicianModal" tabindex="-1" role="dialog" aria-labelledby="deleteTechnicianModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteTechnicianModalLabel">Delete Technician</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Do you really want to delete your technician?</p>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="delete_technician_btn_modal" type="button" class="btn btn-danger" data-dismiss="modal" onclick="">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      function deleteTechnician(technicianId) {
        const technician = document.getElementById(`technician_${technicianId}`);
        fetch(`/delete_technician/${technicianId}`, { method: "POST" });
        technician.remove()
      }

      function configureTechnicianModal(technicianId) {
        deleteBtn = document.getElementById("delete_technician_btn_modal");
        deleteBtn.setAttribute("onclick", `deleteTechnician(${technicianId})`)
      }
    </script>
{% endblock content %}