{% extends "layout.html" %}
{% block content %}
    <article class="media content-section flex">
        <div class="media-body">
          <h2 class="article-title">{{ ticket.title }}</h2>
          <p class="article-content">Author: {{ ticket.author.user.name }} {{ ticket.author.user.surname }}</p>
          <div>
            <p class="article-content">{{ ticket.content }}</p>
            <p class="article-content">Street: {{ ticket.street }}</p>
            <p class="article-content">House number: {{ ticket.house_number }}</p>
          </div>
        </div>
        {%  if has_permissions(allowed_roles=['resident', 'admin'], allowed_user=ticket.author.user) %}
          <div class="detail-buttons">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('tickets.update_ticket', ticket_id=ticket.id) }}">Edit</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteTicketModal">Delete</button>
          </div>
        {% endif %}
        <div class="pics-per-row">
          {% for img in ticket.images %}
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="{{ img.url }}">
                  <img src="{{ img.url }}" alt=".">
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
    </article>

    {% if current_user.role == 'manager' %}
    <div>
      <form method="POST" action="">
        {{ form.hidden_tag()}}
        <legend class="border-bottom mb-4"> 
          Comments      
        </legend>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ form.content(class="form-control-lg form-control", rows="1") }}
          </div>
          <div class="col-sm-2 mt-1">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </div>

      </form>
    </div>
    {% endif %}
    {% for comment in ticket.comments %}
      <div class="row content-section">
        <div class = "col-md-11 row">
          <div class="col-md-6 text-left">
            <h4>{{comment.author.user.name}} {{comment.author.user.surname}}</h4>
          </div>
          <div class="col-md-6 text-right">
            {{comment.created_at}}
          </div>
          <div class="mx-3 ">
          {{comment.content}}
          </div>
        </div>
        {% if has_permissions(allowed_roles=['admin', 'manager'], allowed_user=comment.author.user) %}
            <div class="detail-buttons col-md-1">
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Edit</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
            </div>
        {% endif %}
      </div>
    {% endfor %}
    


    <div class="modal fade" id="deleteTicketModal" tabindex="-1" role="dialog" aria-labelledby="deleteTicketModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteTicketModalLabel">Delete Ticket</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete ticket '{{ticket.title}}?</p>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{{ url_for('tickets.delete_ticket', ticket_id=ticket.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}