{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> 
                    {{legend}}
                </legend>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {{ form.content(class="form-control-lg form-control") }}
                </div>
                <div class="form-group">
                    {{ form.estimated_time.label(class="form-control-label") }}
                    {{ form.estimated_time(class="form-control-lg form-control") }}
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                        {{ form.real_time.label(class="form-control-label") }}
                        {{ form.real_time(class="form-control-lg form-control") }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.price.label(class="form-control-label") }}
                        {{ form.price(class="form-control-lg form-control") }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}