{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> 
                    {{legend}}
                </legend>
                <div class="form-group">
                    {{ form.estimated_time.label(class="form-control-label") }}
                    {{ form.estimated_time(class="form-control-lg form-control") }}
                    {% if form.estimated_time.errors %}
                        {% for error in form.estimated_time.errors %}
                            <span class="text-danger"> {{ error }} </span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row form-group">
                    <div class="col-sm-6">
                        {{ form.real_time.label(class="form-control-label")}} (hours)
                        {{ form.real_time(class="form-control-lg form-control") }}
                        {% if form.real_time.errors %}
                            {% for error in form.real_time.errors %}
                                <span class="text-danger"> {{ error }} </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {{ form.price.label(class="form-control-label") }} (CZK)
                        {{ form.price(class="form-control-lg form-control") }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <script>
        function enabled_change()
        {
            const real_time_input = $("#real_time");
            const price_input = $("#price");
            if ($('#estimated_time').val() === '')
            {
                real_time_input.prop('disabled', true);
                real_time_input.css('background', 'lightgrey');
                price_input.prop('disabled', true);
                price_input.css('background', 'lightgrey');
            }
            else
            {
                real_time_input.prop('disabled', false);
                real_time_input.css('background', 'white');
                price_input.prop('disabled', false);
                price_input.css('background', 'white');

            }
        }
        enabled_change();
        $('#estimated_time').on('input', function(){
            enabled_change();
        })

    </script>

{% endblock content %}