{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <h4>User</h4>
    <input type="text" class="user-filter form-control" id="userfilter" data-col="0">
  </div>
  <div class="col-md-2">
    <h4>Role</h4>
        <select id="rolefilter" name="rolefilter" class="user-filter form-control"  data-col="3">
          <option value="">Select one</option>
          <option value="1">resident</option>
          <option value="2">technician</option>
          <option value="3">manager</option>
          <option value="4">admin</option>
        </select>
  </div>
</div>
 <table id="users" class="table table-striped table-bordered table-hover" >
    <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users.items %}
        <tr>
            <td><a href="{{ url_for('users.user_detail', user_id=user.id) }}">{{ user.name }} {{ user.surname }}</a></td>
            <td>{{user.role}}</td>
            <td>{{user.email}}</td>
        </tr>
    {% endfor %}
    </tbody>
 </table>
 {% if not users.items %}
  <div class="d-flex justify-content-center pt-3"><h2>No users to display yet.</h2></div>
{% endif %}
    {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
      {% if page_num %}
        {% if users.page == page_num %}
          <a class="btn btn-info mb-4">{{page_num}}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.users_list', page=page_num)}}">{{page_num}}</a>
        {% endif %}
      {% else %}
        <span class="align-top">...</span>
        {% endif %}
    {% endfor %}
    
{% endblock content %}